<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flight</a>
      </nav>
  </head>

  <body>
    <h1>Welcome to Dennelle Flights</h1>
    <p>A Place to Create Your Flights</p>
  </body>

</html>
