<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<h2>Create Flights</h2>
	<form action="/flights" method="POST">
		<label>Airline:
			<select name="airline">
				<option value="Delta">Delta</option>
				<option value="United">United</option>
				<option value="American">American</option>
				<option value="British Airways">British Airways</option>
			</select>
		</label><br>
        <label>Airport
			<select name="airport">
				<option value="JFK">JFK</option>
				<option value="LGA">LGA</option>
				<option value="DCA">DCA</option>
				<option value="IAD">IAD</option>
			</select>
		</label><br>
        <label>Flight Number:
			<input type="number" name="flightNo">
		</label><br>
		<label>Date:
			<input type="datetime-local" name="departs">
		</label><br>
		<button type="submit">Submit Flight</button>
	</form>

</body>

</html>
